.mainBox {
  display: flex;
  height: 100%;
  background-color: hsl(221, 100%, 95%);
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  border: 1px solid grey;
  display: flex;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  align-content: center;
  cursor: pointer;
}

.activeCard {
  border: 2px solid hsla(216, 100%, 53%, 1);
  display: flex;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  align-content: center;
  cursor: pointer;
  background-color: rgb(245, 248, 253);
}
