.lmenuIcon {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBox {
  display: flex;
}

.firstStep {
  background-color: #fafafa;
  height: 90%;
  width: 95%;
  margin: 0 auto;
  padding: 0px 15px;
  border-radius: 10px;
}

.Box {
  height: 78%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
