.lmenuIcon {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //   line-height: 1px;
}

.mainBox {
  display: flex;
}
// style: {
//   height: "50px",
//   display: "flex",
//   flexDirection: "column",
//   justifyContent: "center",
//   alignItems: "center",
//   lineHeight: 1,
// },
